#ZONE_ID is found under Overview for the respective zone on CloudFlare
ZONE_ID=

#ZONE_OID is found by using the API to list DNS records for the site, and taking the ID for the respective object
ZONE_OID=

#DOMAIN_NAME is the DNS record + Zone name, eg for "www" on "example.org" it would be "www.example.org"
DOMAIN_NAME=

#AUTH_EMAIL is your CloudFlare account email.
AUTH_EMAIL=

#AUTH_KEY is your CloudFlare "Global API Key" found in your profile.
AUTH_KEY=
